.img{
    width: 15%;
}
body{
    background-color: white;
    font-size: 30px;
    
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}

.cabecalho-lista{
    display: flex;
    list-style-type: none;
    color: red;
}

.cabecalho-logo{
    display: flex;
    color: darkgoldenrod;
}

.lista-item{
    margin-left: 50px;
}